<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th>Time</th>
      <th>Category</th>
      <th>User</th>

      <th>Ingredients</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag(post.image.url, alt: 'Image') if post.image? %></td>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.time %></td>
        <td><%= post.category.name %></td>
        <td><%= post.user_id %></td>
        <td><%= render 'ingredients', post: post %><br><%= link_to 'Добавить ингредиенты', post_post_ingredients_path(post) %></td>

        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<%= link_to 'Ingredients', ingredients_path %>
<%= link_to 'New User', new_user_registration_path %>

